.tripContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background: var(--bg-main);
    border: 2px solid var(--outline);
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.elementContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    background: var(--bg-third);

    i {
        font-size: 1.5rem
    }


    .time {
        font-weight: 600;
    }

    .mid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;
        gap: 1rem;

        .trainName {
            color: white;
            font-weight: 600;
            padding: 0.2rem 0.3rem;
            border-radius: 5px;
        }

        .track {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .tripContainer {
        padding: 0.5rem;
        border: none;
        align-items: flex-start;
    }

    .elementContainer {
        font-size: 1rem;
        padding: 0.5rem;
        width: 100%;
        display: block;
        position: relative;

        .mid {

            margin-top: 0.2rem;
            padding: 0;
            gap: 0.5rem;
        }

        .track {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
        }

        i {
            font-size: 1rem
        }
    }


}