.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    button {
        cursor: pointer;

    }

    i {
        font-size: 2rem;
        color: var(--accent-color)
    }


}



.tripContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background: var(--bg-main);
    border: 2px solid var(--outline);
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.elementContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    background: var(--bg-third);

    i {
        font-size: 1rem
    }


    .time {
        font-weight: 600;
    }

    .mid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;
        gap: 1rem;

        .trainName {
            color: white;
            font-weight: 600;
            padding: 0.2rem 0.3rem;
            border-radius: 5px;
        }

        .track {
            margin-left: auto;
        }
    }
}

.btn {
    $btnSize: 2.5rem;

    height: $btnSize;
    width: $btnSize;
    border: 3px solid var(--outline);
    border-radius: .75rem;
    background-color: var(--main-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: background-color scale;


    svg {
        $iconSize: 50%;

        width: $iconSize;
        height: $iconSize;
        fill: #fff;
        color: #fff;
    }

    @media screen and (max-width: 768px) {
        border-radius: 2rem;

    }

    i {
        font-size: 1.3rem;
        color: var(--text-main);
    }

    &:hover {
        scale: 1.1;
    }

    &:active {
        scale: .9;
    }
}

.secondaryBtn {
    color: #181818;

    &:hover {
        background-color: var(--btn-hover);
    }
}

.h1Btn {
    background-color: var(--bg-color);
    border: 2px solid var(--outline);
    color: var(--text-main);
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
}

@media screen and (max-width: 768px) {
    .tripContainer {
        padding: 0.5rem;
        width: 80%;
        align-items: flex-start;
    }

    .elementContainer {
        font-size: 1rem;
        padding: 0.5rem;
        width: 100%;
        display: block;
        position: relative;

        .mid {

            margin-top: 0.2rem;
            padding: 0;
            gap: 0.5rem;
        }

        .track {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
        }

        i {
            font-size: 1rem
        }
    }

    .btn,
    .secondaryBtn {
        display: none;
    }


}