.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;


  svg {
    width: 2rem;
    fill: var(--accent-color);
  }
}

.tripContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .tripContainer {
    max-height: 80%;
  }
  
}