.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;


}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
  color: var(--text-main);

  svg {
    width: 2rem;
    fill: var(--accent-color);
  }

  i {
    font-size: 2rem;
    color: var(--accent-color);

    @media screen and (max-width: 768px) {
      font-size: 1.4rem;

    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0rem;
    justify-content: flex-start;
    font-size: 80%;
    height: 80vh;
    overflow: hidden;

    p {
      font-size: 0.9rem;
    }

    svg {
      width: .8rem;
    }

  }

  .header {
    font-size: .8rem;
    margin: .7rem;

    svg {
      width: 1.3rem;
    }
  }
}