.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100dvh;


}


.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
  color: var(--text-main);

  svg {
    width: 2rem;
    fill: var(--accent-color);
  }

  i {
    font-size: 2rem;
    color: var(--accent-color);

    @media screen and (max-width: 768px) {
      font-size: 1.4rem;

    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0rem;
    justify-content: flex-start; //flex-start
    font-size: 80%;
    height: 80vh;
    overflow: hidden;



    svg {
      width: .8rem;
    }

  }

  .header {
    font-size: .8rem;
    margin: .7rem;

    svg {
      width: 1.3rem;
    }
  }
}

html[data-apple-web-app="true"] {
  .main {
    justify-content: space-evenly;
    transform: translateY(-0.5rem);

    .header {
      font-size: 1.2rem;

      i {
        font-size: 2rem;
      }
    }
  }
}

/*
#87CEEB Hsl(197, 71%, 73%)
#FF7F7F HSl(0, 100%, 71%)
#98FF98 HSL(120, 100%, 80%)
#9370DB HSL(259, 60%, 65%)
#7B83EB HSL(235, 74%, 70%)
#FFFACD HSL(54, 100%, 90%) (51, 100%, 50%)
#40E0D0 HSL(174, 72%, 59%)
#FFDAB9 HSL(28, 100%, 86%)


#900c3f da
#182b55 te
#5f4e94 fy
#a291c7 ke
#82cbec en
#d94f21 pr
#febd2b
#9aab4b ma

hsl(196, 77%, 61%)
hsl(354, 81%, 63%)
hsl(257, 58%, 67%)
hsl(24, 100%, 58%)
hsl(327, 73%, 73%)
hsl(214, 79%, 65%)
hsl(165, 55%, 47%)
hsl(39, 97%, 63%)
*/