.container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    opacity: 0;

    transition: all 0.2s ease;
}

.container[data-enabled] {
    display: flex;
}


.card {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform-origin: center;
    width: 30rem;
    z-index: 10;
    background-color: #fff;
    padding: 1.5rem 2rem;
    border: 2px solid #ddd;
    opacity: 1;
    transition: transform 1s ease;
    border-radius: 1rem;

    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 768px) {
        top: 20%;
        width: 90%;
    }
}

.container[data-enabled] .card {
    transition: transform 1s ease;
    transform: translateY(0%);

}

.head {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-bottom: .5rem;

}

.description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #6e6e6e;
}

.x {
    all: unset;



    border-radius: .5rem;

    transition-property: scale color;

    transition: 0.1s ease;

    cursor: pointer;

    i {
        color: #7e7e7e;
        font-size: 1.2rem;

        transition: color 0.1s ease;

        &:hover {
            color: #000;
        }
    }



    &:active {
        scale: .9;
    }
}

.inputContainer {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    h4 {
        font-weight: 500;
        font-size: 1.1rem;

        &:first-child {
            margin-top: 0.5rem;
        }
    }

    .input {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input {
        font-size: 1rem;
        width: 60%;
        height: 2.5rem;
        border: 1px solid #ddd;
        border-radius: .5rem;
        padding: 0 1rem;
        transition: all 0.1s;

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }

        &:focus {
            outline: none;
            border: 3px solid #ddd;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

            @media screen and (max-width: 768px) {
                width: 100%;

            }
        }
    }

}

.btnContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.error {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    opacity: 0;
    width: auto;
    word-wrap: break-word; // Ensure long words break and wrap
    white-space: normal; // Ensure text wraps normally
    gap: 0.5rem;
    background-color: rgb(255, 116, 116);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    transition: all 0.1s;


    @media screen and (max-width: 768px) {
        font-size: 0.7rem;
        text-wrap: wrap;

    }
}

.error[data-enabled] {
    display: flex;
}

.searchBtn {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.5rem;
    background-color: var(--accent-color);
    color: #fff;
    border: unset;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
        background-color: var(--mid-accent-color);
        scale: 1.1;
    }

    &:active {
        scale: .9;
    }

}

.footer {
    text-align: center;
    margin-top: auto;

    a {
        color: var(--accent-color);
        text-decoration: none;
        transition: all 0.1s;

        &:hover {
            color: var(--mid-accent-color);
        }

        &:active {
            color: var(--dark-accent-color);
        }
    }
}

.searchGroup {
    position: relative;
    transition: all 0.2s ease;
    z-index: 100;
    opacity: 1;
}

.searchGroup.visible {
    opacity: 1;
}


.resultsContainer {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;

    position: absolute;
    right: 0;

    width: 60%;
    display: block;
    border-radius: 10px;
    padding-bottom: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.15s ease, transform 0.15s ease;
    z-index: 100;

    @media screen and (max-width: 768px) {
        width: 80%;

    }

}

.resultsContainer.visible {
    opacity: 1;
    transform: translateY(0px);
}

.result {
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #efefef;
    padding: 5px;
    padding-left: 10px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-weight: 500;
    transition: all 0.2s ease;

    &:hover {
        background-color: #e4e4e7;
        scale: 1.02;
    }
}

.noResults {
    margin-top: 0;
    margin-bottom: 15px;

}