.loadContainer {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100dvh;
    z-index: 1;

    justify-content: center;
    align-items: center;

    svg {
        width: 100px;
        height: 100px;
        transform-origin: center;
        animation: load 1.2s ease infinite;
        stroke: var(--accent-color);
        stroke-width: 60px;

    }

}

@keyframes load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}