.loader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: opacity 0.5s ease;
  background-color: white;
}

.tripContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s ease;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .tripContainer {
    gap: .5rem;


  }
}