.loader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  transition: opacity 0.5s ease;
  background-color: var(--bg-main);
}

.tripContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.5s ease;
  gap: 2rem;
  z-index: 1;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 5rem;
  width: 40rem;
  z-index: 1;

  i {
    font-size: 5rem;
    color: rgb(255, 174, 0);
    margin-bottom: 1rem;
  }

  p {
    color: var(--text-secondary);
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .tripContainer {
    gap: .5rem;


  }
}