.btnContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;

    @media screen and (max-width: 768px) {
        gap: 0.5rem;

    }
}


.btn {
    $btnSize: 3rem;

    height: $btnSize;
    width: $btnSize;
    border: 3px solid #ddd;
    border-radius: .75rem;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: background-color scale;


    svg {
        $iconSize: 50%;

        width: $iconSize;
        height: $iconSize;
        fill: #181818;
    }

    @media screen and (max-width: 768px) {
        border-radius: 2rem;

    }

    i {
        font-size: 1.3rem;
    }
}

.btn:hover {
    scale: 1.1;
}

.btn:active {
    scale: .9;
}


// Primary button styles (Middle refresh)
.primaryBtn {
    $priBtnSize: 3.5rem;

    width: $priBtnSize;
    height: $priBtnSize;
    background-color: var(--accent-color);

    color: #fff;

    @media screen and (max-width: 768px) {
        width: 7.5rem;
        border-radius: 2rem;

        svg {
            $iconSize: 45%;

            width: $iconSize;
            height: $iconSize;
        }

        i {
            font-size: 1.5rem;
        }
    }
}

.primaryBtn:hover {
    background-color: var(--mid-accent-color);
}

.secondaryBtn {
    color: #181818;
}

.secondaryBtn:hover {
    background-color: #e8e8e8;
}