// Main container
.btnContainer {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    gap: 0.5rem;
    align-items: center;
    margin: 0.75rem;
    z-index: 0;

}

// Button styles
.btn {
    $btnSize: 2rem;

    width: $btnSize;
    height: $btnSize;
    border: 3px solid var(--outline);
    border-radius: .75rem;
    background-color: var(--bg-main);
    cursor: pointer;

    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: background-color scale;


    svg {
        $iconSize: 65%;

        width: $iconSize;
        height: $iconSize;
        fill: var(--outline);

        transition: fill 0.2s ease;
    }

    i {
        transition: color 0.2s ease;
        font-size: 1rem;
        color: var(--outline);
    }

    &:hover {
        background-color: var(--btn-color);
        scale: 1.1;

        svg,
        i {
            fill: #333;
            color: #333;
        }


    }

    // Responsive
    @media screen and (max-width: 768px) {
        border-radius: 2rem;

        svg {
            width: 1.2rem;
        }
    }
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.75rem;
    border-radius: .75rem;

    i {
        font-size: 1.1rem;
    }
}

html[data-theme='dark'] .btn:hover {

    svg,
    i {
        fill: #fff;
        color: #fff;
    }
}

.btn:active {
    scale: .9;
}

html[data-apple-web-app="true"] {
    .btnContainer {
        justify-content: space-between;
        width: 100%;
        padding-left: 1.5rem;
        z-index: unset;
    }
}