// Main container
.btnContainer {
    display: flex;
    position: absolute;
    right: 0;
    gap: 0.5rem;
    align-items: center;
    margin: 0.75rem;
}

// Button styles
.btn {
    $btnSize: 2rem;

    width: $btnSize;
    height: $btnSize;
    border: 3px solid #ddd;
    border-radius: .75rem;
    background-color: #fff;
    cursor: pointer;

    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-property: background-color scale;


    svg {
        $iconSize: 65%;

        width: $iconSize;
        height: $iconSize;
        fill: #ddd;

        transition: fill 0.2s ease;
    }

    i {
        transition: color 0.2s ease;
        font-size: 1rem;
        color: #ddd;
    }

    // Responsive
    @media screen and (max-width: 768px) {
        border-radius: 2rem;

        svg {
            width: 1.2rem;
        }
    }
}

.btn:hover {
    background-color: #e8e8e8;
    scale: 1.1;

    svg,
    i {
        fill: #333;
        color: #333;
    }
}

.btn:active {
    scale: .9;
}