.refreshBtn {
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid #ddd;
    margin: 1rem;
    border-radius: .75rem;
    background-color: #3b82f6;
    cursor: pointer;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color scale;


    svg {
        width: 1.5rem;
        fill: #fff;
    }

    @media screen and (max-width: 768px) {
        margin: 1rem;
        width: 7.5rem;
        border-radius: 2rem;

        svg {
            width: 1.2rem;
        }
    }
}

.refreshBtn:hover {
    background-color: #2563eb;
    scale: 1.1;
}

@keyframes refresh {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(920deg);
    }
}